#projecteCalendarApp #loginForm,
#projecteCalendarApp #registerForm {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../img/backgroundLoginImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#projecteCalendarApp #loginForm main,
#projecteCalendarApp #registerForm main {
  width: 576px;
  background-color: rgba(0,0,0,0.25);
  padding: 4% 2.5% 4% 2.5%;
}
#projecteCalendarApp #loginForm main header,
#projecteCalendarApp #registerForm main header {
  padding-bottom: 2%;
  font-family: 'Baloo 2', cursive;
}
#projecteCalendarApp #loginForm main header h1,
#projecteCalendarApp #registerForm main header h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#projecteCalendarApp #loginForm main form div .input-group-text,
#projecteCalendarApp #registerForm main form div .input-group-text,
#projecteCalendarApp #loginForm main form div .form-control,
#projecteCalendarApp #registerForm main form div .form-control {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #fff;
  color: #000075;
}
#projecteCalendarApp #loginForm main form div label.input-group-text,
#projecteCalendarApp #registerForm main form div label.input-group-text {
  border-right: 0px;
}
#projecteCalendarApp #loginForm main form div input.form-control,
#projecteCalendarApp #registerForm main form div input.form-control,
#projecteCalendarApp #loginForm main form div select.form-select,
#projecteCalendarApp #registerForm main form div select.form-select {
  border-left: 0px;
}
#projecteCalendarApp #loginForm main form div input.form-check-input,
#projecteCalendarApp #registerForm main form div input.form-check-input {
  margin-right: 2%;
}
#projecteCalendarApp #loginForm main form div label.form-check-label,
#projecteCalendarApp #registerForm main form div label.form-check-label {
  color: #fff;
}
#projecteCalendarApp #loginForm .btnLogin,
#projecteCalendarApp #registerForm .btnLogin {
  padding: 2%;
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  width: 100%;
}
#projecteCalendarApp>#loginForm {
  align-items: center;
}
#projecteCalendarApp>#loginForm main {
  height: 25%;
}
#projecteCalendarApp>#registerForm main {
  margin-bottom: 4%;
  margin-top: 4%;
}
#projecteCalendarApp .errorInputs {
  border-color: #f00;
}
#projecteCalendarApp .onFocus {
  border-color: #00f;
  border-width: 1.5px;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
#projecteCalendarApp .bg-newblue {
  background-color: #000075;
}
#projecteCalendarApp .calendariArt {
  width: 25%;
  border: 1px solid #000;
  padding-left: 0px;
  padding-right: 0px;
}
#projecteCalendarApp .calendariArt header {
  background-color: #000079;
  color: #fff;
}
#projecteCalendarApp .calendariArt main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
#projecteCalendarApp .calendariArt main .line {
  width: 100%;
  justify-content: center;
  align-items: center;
}
#projecteCalendarApp .calendariArt main .line p {
  margin-bottom: 0px;
}
#projecteCalendarApp .calendariArt main .line:first-child {
  margin-top: 2%;
}
#projecteCalendarApp #index>main>div {
  margin-top: 0.5%;
  height: 5%;
}
#projecteCalendarApp #index>main>div .btn {
  width: 5%;
  height: 5%;
}
#projecteCalendarApp #index>main>main {
  margin-bottom: 2%;
}
#projecteCalendarApp #index>main>main>section {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}
#projecteCalendarApp #index>main>section {
  margin-bottom: 2%;
}
#projecteCalendarApp #index>main>section>div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
}
#projecteCalendarApp #index>main>section>div .calendariArt {
  margin-bottom: 2%;
}
#projecteCalendarApp #index .titolZone {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
  height: 5%;
}
#projecteCalendarApp #index .titolZone .btn {
  width: 5%;
  height: 5%;
}
#projecteCalendarApp #calendariManager .btn-manager {
  width: 20%;
}
#projecteCalendarApp #calendariViewer .titolZone {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
  height: 5%;
}
#projecteCalendarApp #calendariViewer .titolZone .btn {
  width: 5%;
  height: 5%;
}
#projecteCalendarApp #helperManager form .selectDiv {
  height: 65px;
}
#projecteCalendarApp #helperManager form .selectDiv select {
  height: 100%;
}
#projecteCalendarApp .topMessage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
#projecteCalendarApp .leftHeader {
  display: flex;
  justify-content: space-between;
  width: 8%;
}
@media only screen and (max-width: 1200px) {
  #projecteCalendarApp #loginForm main,
  #projecteCalendarApp #registerForm main {
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  #projecteCalendarApp {
    height: 100%;
  }
  #projecteCalendarApp #loginForm,
  #projecteCalendarApp #registerForm {
    align-items: flex-start;
    height: 100%;
  }
  #projecteCalendarApp #loginForm main,
  #projecteCalendarApp #registerForm main {
    margin-top: 25%;
    width: 100%;
  }
  #projecteCalendarApp #loginForm main header h1,
  #projecteCalendarApp #registerForm main header h1 {
    font-size: 50px;
  }
  #projecteCalendarApp #loginForm main form div .input-group-text,
  #projecteCalendarApp #registerForm main form div .input-group-text,
  #projecteCalendarApp #loginForm main form div .form-control,
  #projecteCalendarApp #registerForm main form div .form-control {
    font-size: 20px;
  }
  #projecteCalendarApp #loginForm main form div input.form-check-input,
  #projecteCalendarApp #registerForm main form div input.form-check-input {
    margin-top: 0px;
    width: 25px;
    height: 25px;
  }
  #projecteCalendarApp #loginForm main form div label.form-check-label,
  #projecteCalendarApp #registerForm main form div label.form-check-label {
    font-size: 20px;
  }
  #projecteCalendarApp #loginForm main form div.checkboxGroup,
  #projecteCalendarApp #registerForm main form div.checkboxGroup {
    align-items: center;
  }
  #projecteCalendarApp #loginForm main form div.buttonGroup,
  #projecteCalendarApp #registerForm main form div.buttonGroup {
    flex-direction: column;
  }
  #projecteCalendarApp #loginForm main .btnLogin,
  #projecteCalendarApp #registerForm main .btnLogin {
    font-size: 20px;
  }
}
